body {
    background-color: black;
}

div.name {
    display: grid;
    margin: 0;
    height: 64px;
    grid-template-columns: 100px 1fr 100px;
}

div.columns {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 500%;
    color: white;
    margin: 0;
    padding-left: 20px;
}

.image {
    width: 64px;
    height: 64px;
}

.image:hover {
    cursor: pointer;
    opacity: 0.8;
}